@using DebtSnowballApp.Models
@model DebtItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DebtItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Balance)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Balance)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MinimumPayment)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MinimumPayment)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.InterestRate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.InterestRate)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
